body {
  padding: 0;
  margin: 10px;
  background: #f7f7f7;

}

div.ad {
  float:right;
  width:400px;
  height:900px;
  margin:10px;
  background:#ddd;
  border: 1px solid black;


}


/** Header styles **/

/*.header {
  background-image: url("");
  height: 600px;
  background-position: center center;
}*/

h1 {
  
  
  font-family: 'Helvetica', sans-serif;
  font-size: 50px;
  color: #000;
 /* text-shadow: 2px 2px 4px #000000;*/
/*  line-height: 76px;*/
  margin: 0;
  position: relative;
  text-align: left;
/*  top: 20%;*/
}

/** List style **/

h2 {
  color: #293d3d;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 28px;
  font-weight: 500;
  text-align: left;

}

ul {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

p {
  color: #444444;
/*  line-height: 32px;*/
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 100;
}

a {
  color: #214E34;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
/*  letter-spacing: 2px;*/
}

p.byline{
    text-align:left;
      color:444444; 
    padding:8px;  
    margin:0px;  
    font-size:11px; 
}




/*Image CSS*/


div.wrapper{  
    float:left; /* important */  
    position:relative; /* important(so we can absolutely position the description div */  
    margin:5px;
}  

div.description{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px; /* position will be on bottom */  
    left:0px;  
    width:100%;  
    /* styling bellow */  
    background-color:black;  
    font-family: 'tahoma';  
    font-size:15px;  
    color:white;  
    opacity:0.6; /* transparency */  
    filter:alpha(opacity=60); /* IE transparency */  
}  

div.credit{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    top:0px; /* position will be on top */  
    right:0px;  
    width:100%;  
    /* styling bellow */  

} 

p.credit_content{
    text-align:right;
    text-shadow: 1px 1px black;
    color:white; 
    padding:8px;  
    margin:0px;  
    font-size:8px; 
}

p.description_content{  

    font-family: 'tahoma';  
   color:white;
    font-size:11px;
    padding:8px;  
    margin:0px;  
}  